body {
  background: linear-gradient(45deg, #4a571b, #1d5419, #541268, #0f5241);
  background-size: 700% 900%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  .navbar {
    background-color: #212529; 
  }
  
  .navbar-brand {
    color: goldenrod;
  }
  
  .navbar-nav .nav-link {
    color: #fff; 
  }
h1 {
    color: green;
}

p {
  color: #e0a333;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.about {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
}
p.random_text {
  position: relative;
}