* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(55deg, #000000, #ff6347, #ffa500, #2c3e50);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#about {
  text-align: center;
  padding: 40px 0;
}

#animated-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.animated-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeIn 5s ease forwards;
}

.animated-card p {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  margin-top: 10px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  background-color: #8b0000;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: gold;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  padding: 40px 0;
  text-align: center;
}

section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#about h2 {
  text-align: center;
  margin-bottom: 50px;
}

.server-card p {
  margin: 10px 0;
  font-size: 16px;
}

.server-card a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.server-card a:hover {
  background-color: #c0392b;
}

.social-buttons {
  text-align: center;
  margin: 20px;
}

.social-buttons a {
  width: 30%;
  justify-content: space-around;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeIn 5s ease forwards;
}

.telegram-button {
  background-color: #ffa500;
}

.discord-button {
  background-color: #7289da;
}

.github-button {
  background-color: #000;
}


.social-buttons a:hover {
  background-color: #444;
}

#team {
  text-align: center;
  padding: 40px 0;
}

#team h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.team-member {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeIn 5s ease forwards;
}

.team-member h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.team-member p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 10px;
}

.team-member h5 {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.team-member a {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.team-member a:hover {
  background-color: #677bc4;
}



footer {
  background-color: #8b0000;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}