body {
    background-color: #343a40; 
    color: #fff; 
  }
  .navbar {
    background-color: #212529; 
  }
  
  .navbar-brand {
    color: goldenrod;
  }
  
  .navbar-nav .nav-link {
    color: #fff; 
  }
h1 {
    color: green;
}

p {
  color: #e0a33357;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}